body {
  background-image: url("bg.jpg")
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 80px;
  margin: auto;
  padding: 20px;
}
/* HOME PAGE OVERLAY */
.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
}
/* BUTTON */
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  font-size: 16px;
  border-radius: 30px;
  background-color: #ff4b5c;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  background-color: #e63b4b;
}
/* SECOND PAGE */
.content-page {
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px;
  background-color: #f9f9f9;
   min-height: 100vh;
  color: white
}
.content-page h2 {
  color: #ff4b5c;
  margin-bottom: 10px;
}
.content-page p {
  font-size: 16px;
  margin: 6px 0;
}
.profile-form {
  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  max-width: 450px;
}
.form-group {
  margin-bottom: 15px;
}
label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: bold;
  color: #333;
}
select, textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}
select:focus, textarea:focus, input:focus {
  outline: none;
  border-color: #ff4b5c;


